---
import Section from '@/components/cv/Section.astro';

import { work } from '@/cv';
---

<Section title="Experiencia Laboral">
  <ul class="flex flex-col gap-8">
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights, url }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : 'Actual';
          const years = `${startYear} - ${endYear}`;

          return (
            <li>
              <article>
                <header class="mb-1 flex items-start justify-between">
                  <div>
                    <h3 class="font-medium text-neutral-950">
                      <a
                        href={url}
                        title={`Ver ${name}`}
                        target="_blank"
                        class="text-gray-950 hover:underline"
                      >
                        {name}
                      </a>
                    </h3>
                    <h4 class="font-normal text-neutral-900">{position}</h4>
                  </div>

                  <div>
                    <time
                      class="min-w-24 cursor-default text-sm text-neutral-600 [@media(width<=700px)]:text-right"
                      datetime={startDate}
                      data-title={startDate}
                    >
                      {startYear}
                    </time>
                    {' - '}
                    <time
                      class="min-w-24 cursor-default text-sm text-neutral-600 [@media(width<=700px)]:text-right"
                      datetime={endDate}
                      data-title={endDate}
                    >
                      {endYear}
                    </time>
                  </div>
                </header>

                <footer>
                  <p>{summary}</p>
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>
