---
import Section from '@/components/cv/Section.astro';

import { work } from '@/cv';
---

<Section title="Experience">
  <ul class="flex flex-col gap-8">
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights }) => {
          const startYear = new Date(startDate).getFullYear();
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : 'Actual';
          const years = `${startYear} - ${endYear}`;

          return (
            <li>
              <article>
                <header class="flex justify-between items-start mb-1">
                  <div>
                    <h3 class="font-medium text-[#111]">{name}</h3>
                    <h4 class="font-normal text-[#222]">{position}</h4>
                  </div>

                  <time class="text-sm text-[#555]">{years}</time>
                </header>

                <footer>
                  <p>{summary}</p>
                </footer>
              </article>
            </li>
          );
        }
      )
    }
  </ul>
</Section>
