---
import { basics } from 'cv-es.json';
import Section from '@/components/cv/Section.astro';

import MailCV from '@/icons/MailCV.astro';
import Phone from '@/icons/Phone.astro';
import GitHub from '@/icons/GitHub.astro';
import LinkedIn from '@/icons/LinkedIn.astro';
import WorldMap from '@/icons/WorldMap.astro';
import WorldWideWeb from '@/icons/WorldWideWeb.astro';

import type { SocialIcon } from '@/types';

const { email, image, label, location, name, phone, profiles, url } = basics;
const { city, region, country } = location;

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn,
};

const linkedInInfo = profiles.find(({ network }) => network === 'LinkedIn');
const linkedInUrl = linkedInInfo?.url;

const printInfo = [url, email, phone, linkedInUrl].filter(Boolean).join(` • `);
---

<Section>
  <div
    class="flex flex-row items-center justify-between gap-4 [@media(width<=700px)]:flex-col-reverse"
  >
    <div
      class="flex flex-col gap-2 pr-8 [@media(width<=700px)]:items-center [@media(width<=700px)]:justify-center [@media(width<=700px)]:pr-0 [@media(width<=700px)]:text-center"
    >
      <h1 class="text-3xl font-bold">{name}</h1>
      <h2 class="text-balance text-[1.1rem] font-medium text-neutral-600">
        {label}
      </h2>
      <span
        class="flex items-center gap-1 text-sm tracking-tight text-neutral-500"
      >
        <WorldMap />
        {city}, {country}
      </span>
      <footer class="hidden text-[0.65rem] text-neutral-600 print:block">
        {printInfo}
      </footer>
      <footer class="flex gap-1 mt-2 print:hidden">
        {
          url && (
            <a
              href={url}
              class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-neutral-200 p-1 text-neutral-500 transition hover:border-neutral-300 hover:bg-neutral-200"
              title={`Visitar la página web de ${name}`}
              target="_blank"
              rel="noopener no referrer"
            >
              <WorldWideWeb class="stroke-1" />
            </a>
          )
        }
        {
          email && (
            <a
              href={`mailto:${email}`}
              class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-neutral-200 p-1 text-neutral-500 transition hover:border-neutral-300 hover:bg-neutral-200"
              title={`Enviar un correo electrónico a ${name} a la dirección ${email}`}
              target="_blank"
              rel="noopener no referrer"
            >
              <MailCV />
            </a>
          )
        }
        {
          phone && (
            <a
              href={`tel:${phone}`}
              class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-neutral-200 p-1 text-neutral-500 transition hover:border-neutral-300 hover:bg-neutral-200"
              title={`Llamar por teléfono a ${name} al número ${phone}`}
              target="_blank"
              rel="noopener no referrer"
            >
              <Phone />
            </a>
          )
        }
        {
          profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network];

            return (
              <a
                href={url}
                class="inline-flex h-8 w-8 items-center justify-center rounded-md border border-neutral-200 p-1 text-neutral-500 transition hover:border-neutral-300 hover:bg-neutral-200"
                title={`Visitar el perfil de ${name} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon />
              </a>
            );
          })
        }
      </footer>
    </div>

    <figure
      class="[@media(width<=700px)]:flex [@media(width<=700px)]:justify-center [@media(width<=700px)]:items-center [@media(width<=700px)]:mx-0 [@media(width<=700px)]:my-auto"
    >
      <img
        src={image}
        alt={`Imagen de ${name}`}
        class="aspect-square w-32 rounded-2xl object-cover"
      />
    </figure>
  </div>
</Section>
