---
import ReactIcon from '../icons/React.astro';
import ReduxIcon from '../icons/Redux.astro';
import MongoDBIcon from '../icons/MongoDB.astro';
// import TailwindIcon from '../icons/Tailwind.astro';

const TAGS = {
  REACT: {
    name: 'React',
    class: 'bg-[#23272F] text-white',
    icon: ReactIcon,
  },
  REDUX: {
    name: 'Redux',
    class: 'bg-[#23272F] text-white',
    icon: ReduxIcon,
  },
  MONGODB: {
    name: 'MongoDB',
    class: 'bg-[#23272F] text-white',
    icon: MongoDBIcon,
  },
};

const PROJECTS = [
  {
    title: 'ProShop',
    description:
      'Full-featured shopping cart with PayPal and credit/debit payments.',
    link: '',
    github: 'https://github.com/mpondev/proshop',
    image: '/projects/ProShop.webp',
    tags: [TAGS.REACT, TAGS.REDUX, TAGS.MONGODB],
  },
];
---

{
  PROJECTS.map(({ description, github, image, link, tags, title }) => (
    <article>
      <h3 class="text-2xl font-semibold text-primary-200 mb-2">{title}</h3>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags.map(tag => (
          <li>
            <span
              class={`${tag.class} flex gap-x-2 rounded-full text-xs py-1 px-2`}>
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
      <img
        loading="lazy"
        class="rounded shadow-2xl shadow-white/10"
        src={image}
        alt={`Captura de pantalla del proyecto ${title}`}
      />
    </article>
  ))
}
